<head>
    <title>Weather</title>
    <link rel='icon' href='./img/weatherIcon.ico'>
    <link rel='stylesheet' href='./css/styles.css'>
</head>

<body>

    {{>header}}
    <div class='main-content card'>
    <div>Hi I am Debopam. A budding web engineer, looking to grow..</div>
    <br>
    <div>
        <img class='portrait shadowCard' src='./img/debopam.png'>
    </div>
    </div>
    {{>footer}}
</body>