<head>
    <link rel='stylesheet' href="/css/styles.css">
</head>
<body>
    <div class='main-content'>
        {{>header}}
    <br>
    <P style="color:red;font-size:25px">
        Error 404
    </P>
    <br>
    </div>
    {{>footer}}
</body>

