

<header>
    <h1>{{title}}</h1>
    <div class='card'>
    <a class = 'container' href = "/">Weather</a>
    <a class = 'container' href = "/about">About</a>
    <a class = 'container' href = "/help">Help</a>
    </div>
</header>