body {
    color : #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width : 650px;
    margin : 0 auto;
    padding : 0 16px;
    text-align: center;
    display : flex;
    flex-direction : column;
    min-height : 100vh;
}

.main-content {
    flex-grow : 1;
}

footer {
    color : #888888;
    border-top : 1px solid #eeeeee;
    margin-top : 16px;
    padding : 16px 0;
}

header {
    margin-top : 16px;
    margin-bottom : 48px;
}

h1 {
    font-size: 64px;
    margin-bottom : 16px;
}

header a {
    color : #888888;
    margin-right : 16px;
    text-decoration: none;
}

.portrait {
    width : 250px;
}
.weathericon {
    padding : 8px;
    margin : 8 px;
}
.card {
    padding : 16px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  
  input {
    border : 1px solid #cccccc;
    padding : 8px;
  }

  button {
    cursor : pointer;
    border : 1px solid #888888;
    background : #888888;
    color : white;
    padding : 8px;
  }